body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
}

#nav {
    background-color: rgba(250, 236, 236, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   
 
}

nav ul {
    
    display: flex;
    justify-content: space-around;
   
    
    
}
li {
    list-style-type: none;

   
}

a {
    text-decoration: none;
    color: black;
}

#start, #interesting-fact, #early-life, #education {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    
}

#start h1, #interesting-fact h1, #early-life h1, #education h1 {
    font-size: 35px;
}

#start div:first-child, #education div:first-child, #early-life div:last-child, #interesting-fact div:last-child {
    width: 50%;
}

.title-dates h3{
    margin-top: -30px;
}

#start img {
    width: 300px;
}

#interesting-fact img {
    width: 500px;
}

#early-life img {
    width: 350px;
}

#education img {
    width: 500px;
}